In [203]:
import pandas as pd
import pandas_datareader.data as web
import sklearn.mixture as mix

import numpy as np
import scipy.stats as scs

import matplotlib as mpl
from matplotlib import cm
import matplotlib.pyplot as plt
from matplotlib.dates import YearLocator, MonthLocator

import datetime as dt

import seaborn as sns
import missingno as msno
from tqdm import tqdm

import datetime as dt
from alpha_vantage.timeseries import TimeSeries
import yfinance as yf

In [ ]:
#API key: I0D2VN9M9FVADDF0

In [215]:
# Your key here
#key = 'I0D2VN9M9FVADDF0'
#ts = TimeSeries(key, output_format='pandas')
#spy, meta = ts.get_intraday(symbol='SPY', outputsize= 'full', interval = '1min')

In [43]:
sqze = pd.read_csv('https://squeezemetrics.com/monitor/static/DIX.csv', index_col = 0)[['dix','gex']]
sqze.columns, sqze.index.name  = ['DIX','GEX'], ""
sqze.tail()

                 DIX           GEX

2020-02-10  0.409942  5.361524e+09
2020-02-11  0.424073  5.722247e+09
2020-02-12  0.408969  7.967208e+09
2020-02-13  0.423863  7.211357e+09
2020-02-14  0.432182  5.770086e+09

In [496]:
ticks = pd.read_csv('ticks.csv', header=None)
ticks = list(ticks[0])

In [462]:
sym=['spy','qqq']

['spy', 'qqq']

In [459]:
new_data = yf.download(sym, period = '7d', interval = '1m', group_by = 'ticker',
                   auto_adjust = True,prepost = True,threads = True, proxy = None )
master_old = master
master_old.to_csv('test.csv')
master = pd.concat([master_old.iloc[:-1],new_data.loc[master_old.index[-1]:]])
master.to_csv('new.csv')

[*********************100%***********************]  2 of 2 completed

In [499]:
new_data_all = yf.download(ticks, period = '7d', interval = '1m', group_by = 'ticker',
                   auto_adjust = True,prepost = True,threads = True, proxy = None )
master_all_old = master_all
master_all_old.to_csv('all_old.csv')
master_all = pd.concat([master_all_old.iloc[:-1],new_data_all.loc[master_all_old.index[-1]:]])
master_all.to_csv('all.csv')

[*********************100%***********************]  511 of 511 completed

In [194]:
file_reader = pd.read_csv('fx.csv', header=None, names=['Symbol', 'Date_time', 'Bid', 'Ask'], index_col=['Date_time'],parse_dates=['Date_time'],chunksize=1000)

In [237]:
# this is your FX file path
# create your HDF5 at any path you like, with compression level 5 (0-9, 9 is extreme)
gd_h5 = 'C:\\Users\\DRIMBG\\Desktop\\Python_Data_Storage.h5'
h5_file = pd.HDFStore(gd_h5, complevel=5, complib='blosc')  

# then write all records into hdf5 file
# this will take a while ... but it emphasizes on re-usability across different IPython sessions 
i = 1
for chunk in file_reader:
    h5_file.append('fx_tick_data', chunk, complevel=5, complib='blosc')
    i += 1
    print('Writing Chunk no.{}'.format(i))
h5_file.close()

In [238]:
gd_h5 = 'C:\\Users\\DRIMBG\\Desktop\\Python_Data_Storage.h5'
h5_file = pd.HDFStore(gd_h5)  
fx_df = h5_file['fx_tick_data']

In [242]:
fx_df.tail()

                          Symbol      Bid      Ask
Date_time
2020-01-31 20:59:59.583  EUR/USD  1.10909  1.10911
2020-01-31 20:59:59.638  EUR/USD  1.10907  1.10910
2020-01-31 20:59:59.642  EUR/USD  1.10907  1.10907
2020-01-31 20:59:59.646  EUR/USD  1.10906  1.10907
2020-01-31 20:59:59.651  EUR/USD  1.10906  1.10908

In [263]:
data.tail()

                           CVX                           INTC           \
                          Open High Low Close Volume     Open     High
Datetime
2020-02-18 11:08:05-05:00  NaN  NaN NaN   NaN    NaN  66.2883  66.2883
2020-02-18 11:08:06-05:00  NaN  NaN NaN   NaN    NaN      NaN      NaN
2020-02-18 11:08:07-05:00  NaN  NaN NaN   NaN    NaN      NaN      NaN
2020-02-18 11:08:08-05:00  NaN  NaN NaN   NaN    NaN      NaN      NaN
2020-02-18 11:08:09-05:00  NaN  NaN NaN   NaN    NaN      NaN      NaN

                                                    ...           V  \
                               Low    Close Volume  ...        Open
Datetime                                            ...
2020-02-18 11:08:05-05:00  66.2883  66.2883    0.0  ...         NaN
2020-02-18 11:08:06-05:00      NaN      NaN    NaN  ...         NaN
2020-02-18 11:08:07-05:00      NaN      NaN    NaN  ...  211.085007
2020-02-18 11:08:08-05:00      NaN      NaN    NaN  ...         NaN
2020-02-18 11:08:09-05:00      NaN      NaN    NaN  ...         NaN

                                                                      \
                                 High         Low       Close Volume
Datetime
2020-02-18 11:08:05-05:00         NaN         NaN         NaN    NaN
2020-02-18 11:08:06-05:00         NaN         NaN         NaN    NaN
2020-02-18 11:08:07-05:00  211.085007  211.085007  211.085007    0.0
2020-02-18 11:08:08-05:00         NaN         NaN         NaN    NaN
2020-02-18 11:08:09-05:00         NaN         NaN         NaN    NaN

                               MSFT
                               Open      High       Low     Close Volume
Datetime
2020-02-18 11:08:05-05:00       NaN       NaN       NaN       NaN    NaN
2020-02-18 11:08:06-05:00       NaN       NaN       NaN       NaN    NaN
2020-02-18 11:08:07-05:00  186.9198  186.9198  186.9198  186.9198    0.0
2020-02-18 11:08:08-05:00       NaN       NaN       NaN       NaN    NaN
2020-02-18 11:08:09-05:00       NaN       NaN       NaN       NaN    NaN

[5 rows x 125 columns]